.dental-container {
  margin-top: 50px;
}

.mask-group {
  height: 70%;
}

.care-area {
  margin-top: 100px;
  text-align: left;
}
.care-area p {
  margin-top: 50px;
  color: gray;
}

.btn {
  margin-top: 30px;
  margin-left: 13px;
}
